/*
 * CSE 154 Lecture 5 (Layout)
 * --------------------------
 * This CSS is shared for Exercises with a container and 6 direct children.
 * Use boxes-v2-styles.css for the example with #container and 2 .column divs.
 */

div {
  border: 2pt solid black;
}

#container {
  background-color: gray;
  font-size: 20pt;
}

#container > div {
  width: 80px;
  height: 80px;
}

/*
 * Even-numbered boxes are darkgreen.
 */
#container > div:nth-child(odd) {
  background-color: darkgreen;
}

/*
 * Odd-numbered boxes are white.
 */
#container > div:nth-child(even) {
  background-color: white;
}
