/* 
 * CSE 154 Lecture 5 (Layout)
 * --------------------------
 * CSS for Exercise 7 (builds off of Exerises 1-3, 5, and 6.
 */
#container {
  border-radius: 5px; /* shorthand for all sides */
  display: flex; 
  flex-wrap: wrap; /* Added in Exercise 7 */
  margin: auto auto; 
  justify-content: space-evenly; 
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 75%;
}
