#admin-section, #login-section div {
  display: flex;
  width: 50%;
  max-width: 300px;
  margin: auto auto;
  flex-direction: column;
}

#admin-section form p, #login-section div p, #image-selection {
  display: flex;
  justify-content: space-between;
}

img {
  width: 80px;
  background-color: white;
  padding: 5px;
}

#item-template {
  margin: auto auto;
  text-align: center;
  overflow: auto; /* For description text that overflows the #item-template */
}

#item-template h3 {
  height: 1em; /* make sure height doesn't collapse when no name input given */
}
