/*
  Melissa Hovik
  Styles for the CSE154 Coffee Shop V1
*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body, button {
  font-family: 'PT Sans Caption', sans-serif;
}

body {
  /* Primary font family/color of page */
  display: flex;
  flex-direction: column;

  /* can set height to 100vh to remove whitespace */
  height: 100vh;
}

body, h1, h2, ul {
  /* override default margin */
  margin: 0;
}

/* Page theme styles */
body, a {
  color: #4b3434; /* dark brown page text */
}

header, footer {
  background-color: #c2ab9a; /* light brown header/footer */
}

h2 {
  background-color: #4b3434; /* dark brown "Menu" background */
  color: lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
}

article, footer, h2, h3 {
  text-align: center;
}

/*
 * Styles for the three primary page regions: header, main, footer
 */

/* Top bar and navigation */
#top-bar {
  /* Example with position display */
  position: sticky;
  top: 0;

  /* add some packing peanuts */
  padding: 10px;

  /* flexy top bar */
  display: flex;

  /* fill space between h1 and nav */
  justify-content: space-between;

  /* to get stuff centered vertically */
  align-items: center;
  font-size: 14pt;
}

ul {
  list-style-type: none;
}

li {
  /* no need to over-flex. display inline is enough here. */
  display: inline;
  margin-left: 20px;
}

/* Main region */
main {
  background-color: lightgray;
  /* make the main fill in the extra space of the body column */
  flex-grow: 1;
}

#menu-container {
  background-color: lightgray;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #4b343463;
}

/* product cards */
article {
  background-color: white;
  padding: 10px;
  width: 160px;
  margin: 10px;
}

article img {
  width: 100px;
}

main > section > section {
  display: flex;
  width: 50%;
  max-width: 300px;
  margin: auto auto;
  flex-direction: column;
}

main > section > section form p, main > section > section div p {
  display: flex;
  justify-content: space-between;
}

button, input, select {
  font-size: 11pt;
  padding: 3pt;
}

button {
  display: block;
  width: 160px;
  margin: auto auto;
}

textarea {
  width: 100%;
}

/* Footer styles (not much to do since we factored out shared styles!) */
#citation {
  font-style: italic;
}

#results {
  text-align: center;
}

.hidden {
  display: none !important; /* override precedence for flex display on ids */
}
