#box-inputs {
  margin-left: 0px;
  font-family: monospace;
  font-size: 14pt;
}

#box-inputs input {
  width: 125px;
  font-size: 16pt;
  font-family: monospace;
}

#error-msg {
  font-family: sans-serif;
}

#change-dims {
  font-size: 16pt;
  font-weight: bold;
  background-color: #fff;
  margin-top: 10px;
  padding: 6px;
  width: 90%;
}

.question-box {
  width: 200px;
  height: 200px;
  background-color: orange;
}

.bordered {
  border: 2px solid black;
}
