@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body, button, input, textarea {
  font-family: 'Bree Serif', serif;
}

section, h1 {
  text-align: center;
}

body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#response {
  border: solid 2px black;
  min-height: 200px;
}
