/*
  Author: Melissa Hovik
  CSS for notes example demonstrating cookies/localStorage in 08.17.19 OH.
*/

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body, button, input, textarea {
  font-family: "EB Garamond", serif;
}

fieldset {
  width: 50%;
}

form {
  margin-right: 5px;
}

textarea {
  width: 100%;
}

button, textarea, input {
  font-size: 12pt;
}

button {
  display: block;
}

#results {
  text-align: center;
}

.hidden {
  display: none;
}
